<!DOCTYPE html>
<html>
<head>
    <title>SC6113 DAPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to SC6113 DAPP</h2>
        <h3>Please enter your name:</h3>
        <form action="/main" method="POST">
            <input type="text" name="name" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>